body, td {
  font-family:sans-serif;
  font-size:10pt;
}

h1 {
  font-weight:bold;
  font-size:18pt;
}

.breadcrumb {
  border:#d6d3ce 1px solid;
  padding:2px 4px 2px 4px;
}


.el_report {
  padding-left:18px;
  background-image:url(report.gif);
  background-position:left center;
  background-repeat:no-repeat;
}

.el_group {
  padding-left:18px;
  background-image:url(group.gif);
  background-position:left center;
  background-repeat:no-repeat;
}

.el_bundle {
  padding-left:18px;
  background-image:url(bundle.gif);
  background-position:left center;
  background-repeat:no-repeat;
}

.el_package {
  padding-left:18px;
  background-image:url(package.gif);
  background-position:left center;
  background-repeat:no-repeat;
}

.el_class {
  padding-left:18px;
  background-image:url(class.gif);
  background-position:left center;
  background-repeat:no-repeat;
}

.el_source {
  padding-left:18px;
  background-image:url(source.gif);
  background-position:left center;
  background-repeat:no-repeat;
}

.el_method {
  padding-left:18px;
  background-image:url(method.gif);
  background-position:left center;
  background-repeat:no-repeat;
}

.el_sessions {
  padding-left:18px;
  background-image:url(sessions.gif);
  background-position:left center;
  background-repeat:no-repeat;
}

pre.source {
  border:#d6d3ce 1px solid;
  font-family:monospace;
}

pre.source span.nr {
  color:#c0c0c0;
  border-right:#d6d3ce 1px solid;
  padding-right:2pt;
}

pre.source span.fc {
  background-color:#ccffcc;
}

pre.source span.nc {
  background-color:#ffcccc;
}

pre.source span.pc {
  background-color:#ffffcc;
}


table.coverage {
  empty-cells:show;
  border-collapse:collapse; 
}

table.coverage thead {
  background-color:#e0e0e0;
}

table.coverage thead td {
  white-space:nowrap;
  padding:2px 12px 0px 6px;
  border-bottom:#b0b0b0 1px solid;
}

table.coverage thead td.ctr2 {
  text-align:right;
}

table.coverage tbody td {
  white-space:nowrap;
  padding:2px 12px 2px 6px;
}

table.coverage tbody tr:hover { 
  background: #f0f0d0 !important;
}

table.coverage tbody td {
  border-bottom:#d6d3ce 1px solid;
}

table.coverage tbody td.ctr1 {
  text-align:right;
  padding:2px 0px 2px 6px;
}

table.coverage tbody td.ctr2 {
  text-align:right;
  padding:2px 12px 2px 4px;
}

table.coverage tbody td.ctr1 {
  text-align:right;
  padding:2px 0px 2px 6px;
}

table.coverage tbody td.ctr2 {
  text-align:right;
  padding:2px 12px 2px 4px;
}

table.coverage tfoot td {
  white-space:nowrap;
  padding:2px 12px 2px 6px;
}

table.coverage tfoot td.ctr1 {
  text-align:right;
  padding:2px 0px 2px 6px;
}

table.coverage tfoot td.ctr2 {
  text-align:right;
  padding:2px 12px 2px 4px;
}

.footer {
  margin-top:20px;
  border-top:#d6d3ce 1px solid;
  padding-top:2px;
  font-size:8pt;
  color:#a0a0a0;
}

.footer a {
  color:#a0a0a0;
}

.right {
  float:right;
}

