body {
	font-family:sans-serif;
	font-size:10pt;
	background-color:#FFFFFF;
}

h1 {
 	font-weight:bold;
 	font-size:18pt;
}

.TableHeadingColor {
	background:#E0E0E0
}

.TableSubHeadingColor {
	background: #EEEEEE
}

.TableRowColor {
	background: #FFFFFF
}

.FrameTitleFont {
	font-weight:bold;
	font-size:10pt;
}

.FrameHeadingFont {
	font-weight:bold;
	font-size:14pt;
}

.FrameItemFont {
}

.NavBarCell1 { background-color:#EEEEFF;} /* Light mauve */
.NavBarCell1Rev { background-color:#00008B;} /* Dark Blue */
.NavBarFont1    { font-family: Arial, Helvetica, sans-serif; color:#000000;}
.NavBarFont1Rev { font-family: Arial, Helvetica, sans-serif; color:#FFFFFF;}

.NavBarCell2    { font-family: Arial, Helvetica, sans-serif; background-color:#FFFFFF;}
.NavBarCell3    { font-family: Arial, Helvetica, sans-serif; background-color:#FFFFFF;}

a[href^='http://'], a[href^='https://'] {
	display:inline-block;
	padding-left:15px;
	background:transparent url(../resources/extern.gif) center left no-repeat;
}

hr {
	border:none;
	border-top:#d6d3ce 1px solid;
	height:1px;
}

.footer {
	padding-top:2px;
	font-size:8pt;
	color:#a0a0a0;
}

.right {
	width:30%;
	float:right;
	text-align:right;
}

.footer a {
	color:#a0a0a0;
	background-image:none;
}