name: Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-18.04, windows-2019]
        java: [7, 8, 9, 10, 11, 12, 13, 14]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-java@v1
      with:
        java-version: ${{ matrix.java }}
    - name: Java version
      run: java -version && javac -version
    - name: Maven version
      run: mvn -version
    - name: Build
      run: mvn verify
